*{
    margin: 0;
    padding: 0;
}
.main{
    width: 100vw;
    height: 100vh;
    /* background-color: aliceblue; */

}
.main2{
    width: 95%;
    height: 70px;
    background-color: white;
    padding-top: 10px;
    padding-left: 60px;
    border: 2px solid rgb(114, 2, 114);
    
}
.logo{
    width: 40px;
    position: relative;
    top: 13px;  
    
}
.nav1,.nav2,.nav3,.nav4,.nav5{
    color: black;
    display: inline;
    margin-left: 150px;
    color: black;
    cursor: pointer;
    
}
.categories{
    display: inline;
   

}
.nav1:hover{
    color: blueviolet;
    transition: all 0.5s ease;
}
.nav2:hover{
    color: blueviolet;
    transition: all 0.5s ease;
}

.nav3:hover{
    color: blueviolet;
    transition: all 0.5s ease;
}

.nav4:hover{
    color: blueviolet;
    transition: all 0.5s ease;
}

.nav5:hover{
    color: blueviolet;
    transition: all 0.5s ease;
}

body{
    background-image: url("./iphone.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}
